# The API key required for chatbot services.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this application is hosted.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# The API key required for Ably Realtime Chat services.
ABLY_API_KEY=""